# Ignore node_modules
node_modules/

# Ignore build output
out/
.next/

# Ignore logs
logs/
*.log

# Ignore system files
**/.DS_Store

# Ignore environment variables
.env
.env.local

# Ignore editor settings
.vscode/
.idea/

# 忽略图标文件
public/icons/
